extends layout

block content
	article.container
		div.item.center
			h1=titulo
			h2=descripcion
			h3
				// enlace a home
				a(href="/") Regresar
			br
			// clases error y left	
			pre.error.left
				code #{error.stack}
			