html{
	background-color: #1d1d1d;
}

a, h1, h2, label{
	color: #80bd01;
}

a:hover{
	opacity: .75;
}

fieldset{
	padding: 1rem;
	border: medium solid #80bd01;
}


.button{
	padding: .5rem 1rem;
	color: #fff;
	background-color: #80bd01;
	cursor: pointer;
}

.button:hover{
	opacity: .5;
}

.add{
	background-color: darkgreen;
}

.edit{
	background-color: #0871b2;
}

.delete{
	background-color: #d23471;
}

.logo{
	display: block;
	margin: 1rem auto;
	width: 450px;
	height: 150px;
	vertical-align: bottom;
	background: url("../img/atari.svg.png") no-repeat center;
	background-size: contain;
}


.poster{
	max-width: 100px;
}

.table{
	width: 100%;
}

.table td, .table th{
	padding: 1rem;
}

/*fila de los encabezados*/
.table tr:first-child{
	background-color: #292623;
	color: #80bd01;
}

.table tr:nth-child(even){
	background-color: #ccc;
}

.table tr:nth-child(odd):not(:first-child){
	background-color: #eee;
}

.titulo{
	text-align: center;
}