doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1")
		meta(name="description",content="#{descripcion}")
		title= titulo
		// la raíz de href es la carpeta public 
		link(rel="stylesheet",href="./css/estilos.css")
	body
block content    